/Sample/bin/Debug/Sample.exe
/Sample/bin/Debug/Sample.exe.config
/Sample/bin/Debug/Sample.pdb
/Sample/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Sample/obj/Debug/Sample.csproj.FileListAbsolute.txt
/Sample/obj/Debug/Sample.csprojResolveAssemblyReference.cache
/Sample/obj/Debug/Sample.exe
/Sample/obj/Debug/Sample.pdb
/Sample/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Sample/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Sample/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.suo
*.user

/CsharpGenerator/bin/Debug/bbcsgen.exe
/CsharpGenerator/bin/Debug/bbcsgen.exe.config
/CsharpGenerator/bin/Debug/bbcsgen.pdb
/CsharpGenerator/bin/Debug/bbcsgen.vshost.exe
/CsharpGenerator/bin/Debug/bbcsgen.vshost.exe.config
/CsharpGenerator/bin/Debug/bbcsgen.vshost.exe.manifest
/CsharpGenerator/obj/Debug/BinaryBlocks.CsharpGenerator.Properties.Resources.resources
/CsharpGenerator/obj/Debug/CsharpGenerator.csproj.FileListAbsolute.txt
/CsharpGenerator/obj/Debug/CsharpGenerator.csproj.GenerateResource.Cache
/CsharpGenerator/obj/Debug/CsharpGenerator.csprojResolveAssemblyReference.cache
/CsharpGenerator/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/CsharpGenerator/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CsharpGenerator/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CsharpGenerator/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CsharpGenerator/obj/Debug/bbcsgen.exe
/CsharpGenerator/obj/Debug/bbcsgen.pdb
/Viewer/bin/Debug/bbview.exe
/Viewer/bin/Debug/bbview.exe.config
/Viewer/bin/Debug/bbview.pdb
/Viewer/obj/Debug/BinaryBlocks.Viewer.AboutBox.resources
/Viewer/obj/Debug/BinaryBlocks.Viewer.MainForm.resources
/Viewer/obj/Debug/BinaryBlocks.Viewer.Properties.Resources.resources
/Viewer/obj/Debug/BinaryBlocks.Viewer.TextForm.resources
/Viewer/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Viewer/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Viewer/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Viewer/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Viewer/obj/Debug/Viewer.csproj.FileListAbsolute.txt
/Viewer/obj/Debug/Viewer.csproj.GenerateResource.Cache
/Viewer/obj/Debug/Viewer.csprojResolveAssemblyReference.cache
/Viewer/obj/Debug/bbview.exe
/Viewer/obj/Debug/bbview.pdb
